{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying the username -->
        <div class="col-md-6">
            <h3>{{username | capitalize}}</h3>

            <!-- displaying user bio -->
            {% if user.bio %}
            <p>{{user.bio}}</p>
            {% else %}
            <p>{{username | capitalize}} has no bio.</p>
            {% endif %}
        </div>
        <!-- displaying orofile photo -->
        <div class="col-md-6">
            <div class="col-md-4">

                {% if username.profile_pic_path %}
                <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
                {% else %}
                <p>No profile photo found.</p>
                {% endif %}

                {% if user == current_user %}
                <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post"
                    enctype="multipart/form-data">
                    <input type="file" name="photos" class="form-control" required>
                    <input type="submit">
                </form>
                {% endif %}
                {% if user == current_user %}
                <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
                {% endif %}

            </div>
        </div>

    </div>
</div>



{% endblock %}