{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="../static/css/index.css"> 

{% endblock %}

{% block content %}
  <div class="container-fluid bg-info text-warning"> 
    <div class="row"> 
      <br>
      <h3 style="color: rgb(164, 164, 226);"class="text-center" >Write Your Blog Here</h3>
      <hr> <br>
      <div class="col-md-3"></div>

      <div class="col-md-6">
        {{wtf.quick_form(blog_form)}}
      </div>

      <div class="col-md-3"></div>
    </div>
  </div>  
{% endblock %}