{% extends 'base.html'%}
{% block styles%} {{ super() }}

<link rel="stylesheet" href="../static/css/index.css"> 

{% endblock %}

{% block content %}


<div class="  text-center" style= "background-color: #44ad44; color:white; padding: 10px;">
   
  <h2>Welcome to the Blog website application, Have a fun with it!!!!!!!!</h2>
  <h3>Get your favourite and latest posts here</h3>
</div>
    <div class="container-fluid text-center bg-success">  
        <hr>
        <div class="row">
          <div class="col-md-4">
            <br>
            
            
              <a href="../blog/" class="btn btn-warning btn-md">Create Blog</a>   
              
              <a href="{{url_for('main.category')}}" class="btn btn-warning btn-md">View blogs Here</a>
            </div>

            <div class="col-md-6">
              <div style="font-size: 16px;">
                <h3 style="color:blue">Quote</h3>
               {% for quote in getquotes %}
               <p style="color:rgb(177, 27, 27)">{{quote.quote}}</p>
               <p style="color:rgb(2, 2, 29)">{{quote.author}}</p>
               {% endfor %}
           
             </div>
             </div>
     </div>
 

     </div>
     <hr>
    
       
    {% endblock%}
